/*responsiv contener texto banner*/
@media screen and (max-width: 1216px){
    .banner-texto-h1{ /*responsiv texto banner*/
        font-size: 3rem;
    }

    /*responsiv texto sobre nós*/
    .contener-sobre{
       flex-direction: column;
    }
    .contener-sobre-p{
        width: 80%;
        text-align: center;
    }
}

@media screen and (max-width: 925px){
    .banner-texto-h1{
        font-size: 2.9rem;
    }
    .banner-texto-h2{
        font-size: 1.5rem;

    }
}

/*menu burger*/
@media screen and (max-width: 897px){

    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1.2rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    #hamburguer{
        width: 30px;
        height: 3px;
        border-top: 3px solid;
        display: block;
        color: var(--verdeescuroforte);
    }
    #hamburguer::after, #hamburguer::before{
        content: '';
        display: block;
        width: 30px;
        height: 3px;
        margin-top: 5px;
        background-color: currentColor;
        transition: .3s;
        position: relative;
        
    }
    #nav.active #hamburguer{
        border-top-color: transparent;
    }
    #nav.active #hamburguer::before{
        transform: rotate(135deg);
    
    }
    #nav.active #hamburguer::after{
        transform: rotate(-135deg);
        top: -7px;
    
    }


/*menu links*/
    .menu{
        display: block;
        border-bottom: 2px solid #3c640049;
        width: 100vw;
    }

    #contener-menu{
        display: none;
        position: absolute;
        z-index: 1000;
        width: 100%;
        top: 106px;
        right: 0px;
        background-color: var(--verdeamarelo);
    }

    #nav.active #contener-menu{
        display: block;
        height: calc( 100vh - 106px);
        
    }

    .banner-texto-h1{
        font-size: 2.4rem;
        margin-top: 40px;
    }
    .banner-texto-h2{
        font-size: 1.4rem;

    }

    @media screen and (max-width: 758px){
        
        .banner-texto-h1{
            font-size: 2.3rem;
            margin-top: 20px;
        }
        .banner-texto-h2{
            font-size: 1.2rem;
    
        }

        .banner{
            background-position: center;
        }
        .banner-texto-a{
            padding: 15px 30px;
        }
        .banner-texto{
            padding: 10px;
            margin-top: 20px;
        }
    }

    @media screen and (max-width: 686px){
        
        .banner-texto-h1{
            font-size: 2rem;
            margin-top: 25px;
        }
        .banner-texto-h2{
            font-size: 1rem;
        }
        .contener-tratamento-img img{
            width: 200px;
        }

        .contener-sobre-p{
            font-size: 1.3rem;
        }
        .contener-sobre-img{
            height: 20rem;
        }

        .contener-endereco{
            position: relative;
            z-index: 10;
            display: flexbox;
            width: 100%;
            height: 300px;
            font-family: light;
            font-size: normal;
            text-align: center;
            margin-top: 0%;
            margin-left: 0%;
            border-radius: 0px;
        }
    
    }

    @media screen and (max-width: 493px){
        .banner{
            background-position: left;
            justify-content: center;
        }
        .banner-texto{
            max-width: 100vw;
            text-align: center;
            margin-top: 50px;
        }
        .contener-tratamento-h3{
            font-size: 1.3rem;
        }
        .contener-tratamento-h3::after{
            width: 100px;
            height: 2px;
        }

        .contener-convenio-logo{
            text-align: center;
            justify-content: center;
            align-items: center;
        }

        .contener-convenio-logo img{
            width: 70%;
            margin: 5px;
            border: 3px solid var(--verdeamarelo);
        }

        .contener-sobre-p{
            width: 90%;
            margin: 10px;
            font-size: .8em;
            text-align: justify;
        }
        .contener-sobre-img{
            display: none;
        }


    }

    @media screen and (max-width: 375px){
        .banner{
            background-position: left;
            justify-content: center;
        }
        .banner-texto{
            max-width: 100vw;
            text-align: center;
            margin-top: 50px;
        }
        .contener-tratamento-h3{
            font-size: 1.3rem;
        }
        .contener-tratamento-h3::after{
            width: 100px;
            height: 2px;
        }

        .contener-convenio-logo{
            text-align: center;
            justify-content: center;
            align-items: center;
        }

        .contener-convenio-logo img{
            width: 70%;
            margin: 5px;
            border: 3px solid var(--verdeamarelo);
        }

        .contener-sobre-p{
            width: 90%;
            margin: 10px;
            font-size: .8em;
            text-align: justify;
        }
        .contener-sobre-img{
            display: none;
        }


    }
}